@use "sass:math";
@import "../variables";

.results {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.name {
  font-size: 125%;
  font-weight: bold;
  margin-top: 2em;
}

.filmography {
  display: flex;
  overflow-x: scroll;
}

.item {
  flex: none;
  width: math.div(342px, 2) + $gutter;
}
