@import '../variables';

.container {
  flex: 1;
  overflow: auto;
}

.table {
  border-collapse: collapse;
  font-size: 12px;
  margin: 0 auto;

  width: 320px;

  th,
  td {
    border-top: 1px solid $muted;
    text-align: center;
  }

  th {
    font-weight: normal;
  }

  td {
    width: 50px;
  }
}
