@import '../variables';

.component {
  font-size: 0.75rem;
  margin-bottom: $gutter;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.25rem;

  .footer {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
  }
}

.link {
  flex: none;
  margin: 0 0.5rem;
}

.input {
  border-radius: 0.2rem;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  width: 10rem;
}
