.link {
  display: block;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem 1rem;
  text-align: left;
  width: 100%;

  &:hover {
    background: lighten(black, 97%);
  }

  &.active {
    background: lighten(black, 95%);
  }

  &.isOver {
    background: silver;
  }
}
