@import '../variables';

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.875rem;
  border-radius: 0.2rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem 0.5rem;

  text-align: left;
  white-space: nowrap;
  width: 100%;

  &:hover:not(:focus),
  &.active {
    background: $muted;
  }

  svg {
    width: 1rem;
    margin-right: 0.25rem;
  }
}
