@import '../variables';

.link {
  display: block;

  font-size: 0.875rem;
  border-radius: 0.2rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem 0.5rem;

  text-align: left;
  width: 100%;

  &:hover,
  &.active {
    background: $muted;
  }

  &.isOver {
    background: $over;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
