@import "../variables";

.list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $breakpoint-lg) {
    display: block;
  }
}

.item {
  flex: none;
  width: (100% / 2);

  @media (min-width: $breakpoint-lg) {
    width: 100%;
  }
}

.link {
  display: block;
  border-radius: 0.2rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  width: 100%;

  @media (min-width: $breakpoint-lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    text-align: left;
    white-space: nowrap;
  }

  &:hover:not(:focus),
  &.active {
    background: $muted;
  }

  svg {
    width: 1rem;
    margin-right: 0.25rem;
  }
}
