@import '../variables';

.header {
  font-size: 0.75rem;
  margin-bottom: $gutter;
}

/* tabs */
.tabs {
  text-align: center;
  display: flex;
  overflow-x: scroll;

  @media (min-width: $breakpoint-lg) {
    justify-content: center;
  }
}

.tab {
  background: transparent;
  border-radius: 0.2rem;

  margin: 0 5px;
  padding: 5px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &.active {
    background: $dark;
  }
}

/* sort */
.sort {
  display: flex;
  align-items: center;

  > button {
    flex: 1;
  }

  > input {
    border-radius: 0.2rem;
    font-size: 0.875rem;
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
  }
}

/* main */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  margin-top: $gutter;
  padding: 0 $gutter;

  @media (min-width: $breakpoint-lg) {
    flex-direction: unset;
    margin-top: ($gutter-lg / 2);
    padding: 0 $gutter-lg;
  }

  > nav {
    flex: none;
    display: flex;
    overflow-x: scroll;

    @media (min-width: $breakpoint-lg) {
      flex-direction: column;
      min-width: 200px;
      overflow-y: scroll;
    }
  }

  > main {
    flex: 1;
    overflow-y: scroll;
  }
}

/* grid */
.grid {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin-bottom: ($gutter * 2);
  padding: 0 ($gutter / 2);
  text-align: center;
  width: (100% / 3);

  @media (min-width: $breakpoint-lg) {
    margin-bottom: ($gutter-lg * 2);
    width: (100% / 4);
  }

  @media (min-width: $breakpoint-xl) {
    width: (100% / 5);
  }
}

.empty {
  text-align: center;
}
