@import "../variables";

.component {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  text-align: center;
}

.poster {
  box-shadow: 0 0.5rem 1rem fade-out(black, (1 - 0.15));
  border-radius: 0.25rem;
  max-width: 100%;

  @media (max-width: 540px) {
    width: 120px;
    height: (120px * 1.5);
  }
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  margin-top: $gutter;

  @media (min-width: $breakpoint-lg) {
    font-size: 1.5rem;
    font-weight: 100;
  }
}

.year {
  color: gray;
  font-size: 80%;
}

.danger {
  color: $red;
}

/* dnd */
.isDragging {
  opacity: 0.5;
}
