@import "../variables";

.component {
  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}

.toggle {
  padding: ($gutter / 2);
  margin-right: $gutter;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
