/* tabs */
.tabs {
  margin: 5px;
  text-align: center;
}

.tab {
  background: lighten(black, 95%);
  border-radius: 0.2rem;
  font-size: 0.75rem;
  margin: 5px;
  padding: 5px;

  &:hover {
    background: silver;
  }

  &.active {
    background: silver;
  }
}

/* main */
.main {
  display: flex;
  align-items: flex-start;

  > * {
    flex: 1;
  }

  > nav {
    flex: none;
    min-width: 200px;
    padding-right: 20px;
  }
}

/* grid */
.grid {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin-bottom: 60px;
  text-align: center;
  width: 25%;
}

.empty {
  text-align: center;
}
