@import '../variables';

.component {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  width: 100%;
  max-width: (342px / 2);
}

.grade {
  display: flex;

  svg {
    margin-left: 5px;
  }
}

.button {
  color: $muted;
}

.active {
  color: unset;
}

.bookmark {
  color: #ffdc00;
}

.divider {
  width: 10px;
}
