@import '../variables';

.component {
  display: flex;
  justify-content: space-between;
}

.grade {
  display: flex;

  svg {
    margin-right: 5px;
  }
}

.button {
  color: $muted;
}

.active {
  color: unset;
}

.yellow {
  color: $yellow;
}

.divider {
  width: 10px;
}
