@use "sass:math";
@import "../variables";

.results {
  > .title {
    font-weight: bold;
    padding: math.div($gutter, 2);
  }

  .list {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 1rem;
  }

  .item {
    flex: none;
    margin-right: 1rem;
  }
}

.movie {
  display: flex;
  align-items: center;
  text-align: left;

  border-radius: 0.3rem;
  padding: math.div($gutter, 2);

  .poster {
    margin-right: math.div($gutter, 2);
  }

  .meta {
    color: gray;
    font-size: 80%;
  }

  &:hover {
    background: $dark;
  }
}

.already {
  color: $yellow;
  display: block;
  padding: 0 math.div($gutter, 2);
  text-align: center;
}
