/* sizes */
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$gutter: 10px;
$gutter-lg: 30px;
$line-height: 1.5;
$font-size: 16px;

/* background */
$bg: hsl(200, 10%, 20%);
$dark: fade-out(black, 0.7);

/* colors */
$color: fade-out(white, 0.1);
$muted: fade-out(white, 0.9);
$over: hsla(200, 100%, 50%, 0.5);

/* palette */
$red: #ff4136;
$yellow: #ffdc00;
