@import "variables";
@import "layout";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  line-height: $line-height;
  font-size: $font-size;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: $bg;
  color: $color;
  margin: 0;
  padding: 0;
  user-select: none;
}

h1,
p {
  margin: 0;
}

h1 {
  font-size: 1rem;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

input,
button {
  background: transparent;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  border: 0;
  background: $dark;
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none !important;
}
